.card-container-phone {
  height: 600px;
}
.place{
        margin-top: -3pc;
}
h3{
    float: right;
    margin-top: -8pc;
}
.hire{
	margin-left: -102px;
}
.logo{
    float:left;
   max-width: 100%;
    height: auto;
    width:auto;
    margin-top: -12pc;
}

.he3{
	margin-right: -56pc;
    margin-top: -3pc;
}
.footers{
	position: fixed;
    bottom: 0;
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 9px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 32px;
    
}
.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 53px;
    margin-top: -38px;

	
} 
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1;
    border-radius: 32px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.nav{
    font-size: x-large;
    display: inline-block;
    margin-left: 8pc;
}
.nav-pills a {
    border-radius: 32px;
    color:#4CAF50;
    /*background-color:white;*/

    display: inline-block;
   overflow: hidden;
  
}
.nav a:visited{
    background-color: black;
}
.nav a:active{
    background-color:#4CAF50;
}
.btn {
      font-size:0.875em;
      display:block;
      left:-60px;
      margin-top:39px;
      width:100%;
      border-radius: 70px;
          color: yellowgreen
    }

