<header>
<div class="container" >
<span >
<!--<div class="dropdown">
<button class="dropbtn" class="btn btn-default btn-lg btn-block responsive-width"><span class="glyphicon glyphicon-user"></span> Profile</button>
<div class="dropdown-content">
<a  (click)="signOut()"> Sign Out</a>
</div>
</div>-->
<span ><h3> Welcome {{username}}</h3></span>
</span>
<div  class="collapse navbar-collapse" >
<img [src]="url" class="logo" style="max-width:100%;margin-bottom: -47px;" />
</div>

<div class="visible-xs">
<img [src]="urls" class=" collapsed"  class="logos" />
<img [src]="ur"  class="collapsed" class="logoname" />
</div>

<h2  class="hire">
<span>

<div id="parent" class="container-fluid">
  <nav class="navbar navbar-default visible-xs">
<div class="navbar-header" style="margin-right: -26pc;" >
      <button type="button" class="navbar-toggle collapsed" (click)="toggleState()" >
      <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
         <span class="navbar-toggler-icon"></span>
     </button>
      
    </div>
    </nav>
    <div  class="collapse " [ngClass]="{'in': isIn }"  >
   <div class="bos">
   <ul class="nav nav-pills" >
   <li class="active" > <a   [routerLink]="['products']" (click)="goTrue()">Products</a> </li>
   <li class="active"> <a  [routerLink]="['about']" (click)="goHide()">About</a></li>
   <li  class="active"> <a  [routerLink]="['proceed']" (click)="goHide()">Cart ({{cartService.getBoss()}})</a></li>
   <li class="active">
       <div class="dropdown">
         <button class="dropdown" class="btn btn-default btn-lg btn-block responsive-width"><span class="glyphicon glyphicon-user"></span> Profile</button>
         <div class="dropdown-content">
         <a  (click)="signOut()"> Sign Out</a>
         </div>
         </div>
    </li>
</ul>
</div> 
</div>
<div class="boss hidden-xs">
   <ul class="nav nav-pills" >
   <li class="active" > <a   [routerLink]="['products']" (click)="goTrue()">Products</a> </li>
   <li class="active"> <a  [routerLink]="['about']" (click)="goHide()">About</a></li>
   <li  class="active"> <a  [routerLink]="['proceed']" (click)="goHide()">Cart ({{cartService.getBoss()}})</a></li>
   <li class="active">
       <div class="dropdown">
         <button class="dropdown" class="btn btn-default btn-lg btn-block responsive-width"><span class="glyphicon glyphicon-user"></span> Profile</button>
         <div class="dropdown-content">
         <a  (click)="signOut()"> Sign Out</a>
         </div>
         </div>
    </li>
</ul>
</div> 
</div>

</span>
</h2>

</div>
</header>

<br/>
<body>
<div class="row" class="container" *ngIf="isAbout" >
<div class="place">
<div class="words">
<h4>
  We have the following products here!
</h4>
</div>
<div  *ngFor="let product of products"  >
<div class="col-xs-6 col-md-3 col-sm-3 col-lg-3">
<div class="thumbnail product">
<img width="250" height="250" src={{product.src}} />
<span class="badge">{{product.id}}</span> <strong>{{product.name}}</strong>
<p>{{product.info}}</p>
<h1 class="badge">{{product.price}}INR</h1>
<div><input type="number" name="quantity" min="1" max="5" [(ngModel)]="numbers"> </div><br/>
<button (click)="selectedProduct(product)" class="btn btn-sm btn-primary">Add to Cart</button>
</div>
</div>
</div>
<br/>
<!--<button type="button" [disabled]="count <= 0" (click)="proceedCheck()"> Proceed to CheckOut> </button>-->
</div>
</div>
</body>
<br />
<router-outlet></router-outlet>
<app-footer></app-footer>


