.site-footer{
    background-color: #262626;
    color: #b3b3b3;
    text-align: center;
    /*font-size: 14px;*/
    font-size: 1.4rem;
    padding: 53px 56px;
    position: sticky;
    bottom: -72px;
    }