h1{
    color: green;
}
.footers{
	    max-width: 100%;
    background-color: black;
    position: fixed;
    
}
.site-footer{
    background-color: #262626;
    color: #b3b3b3;
    text-align: center;
    /*font-size: 14px;*/
    font-size: 1.4rem;
    padding: 50px 15px;
    /*position: fixed;*/
    bottom: 0;
    }