<div style="text-align: center;">
<body>
  <app-header></app-header>
  <router-outlet></router-outlet>
</body>

  
 <!--<footer class="footers">
      <ul   >
      <li style="display:inline;margin:50px;"><a [href]="''"> Conditions of Use</a></li>
      <li style="display:inline"><a [href]="''">Privacy Notice</a></li>
      <li style="display:inline;"><a [href]="''"> Interest -Based on us</a></li>
      </ul>
      <p>© 1996-2017, Amazon.com, Inc. or its affiliates</p>
  </footer>-->
   <!--<footer class="site-footer" id="footer" role="contentinfo">
		<div class="container">
			<p>Hongkiat.com (HKDC). All Rights Reserved. 2017</p>
			<p>Reproduction of materials found on this <span class="vm-hook-outer vm-hook-default"><span class="vm-hook" style="color: rgb(0, 153, 0); border-color: transparent transparent rgb(0, 153, 0);">site</span><span class="vm-hook-icon" style="display: inline-block;"></span></span>, in any form, without explicit permission is prohibited. <a href="/blog/publishing-policy/" target="_blank" rel="nofollow">Publishing policy</a> ‐ <a href="/blog/privacy-policy-for-hongkiatcom/" target="_blank" rel="nofollow">Privacy Policy</a></p>
			</div>
	</footer>-->
  



 


