<div style="text-align: center;">
<h4> Login Page </h4>
<div class="container">
<form #f="ngForm"  (ngSubmit)="onSubmit(f)" >
Username : <input type="text" name="username" [(ngModel)] ="username" required> <br/><br/>
Password : <input type="Password" name="password" [(ngModel)]="password" required><br/><br/>

<input type="submit" name="submit">
</form>
</div>
<div style="height:100%;width:100%;">
		 <img [src]="url" class="logo" style="max-width:100%;margin-bottom: -47px;" />
		 </div>

<footer class="site-footer" id="footer" role="contentinfo">
		<div class="container">
			<p>Hongkiat.com (HKDC). All Rights Reserved. 2017</p>
			<p>Reproduction of materials found on this <span class="vm-hook-outer vm-hook-default"><span class="vm-hook" style="color: rgb(0, 153, 0); border-color: transparent transparent rgb(0, 153, 0);">site</span><span class="vm-hook-icon" style="display: inline-block;"></span></span>, in any form, without explicit permission is prohibited. <a href="/blog/publishing-policy/" target="_blank" rel="nofollow">Publishing policy</a> ‐ <a href="/blog/privacy-policy-for-hongkiatcom/" target="_blank" rel="nofollow">Privacy Policy</a></p>
			</div>
</footer>
<!--<h6> Login works </h6>

<form #f="ngForm"  (ngSubmit)="onSubmit(f)" >
Username : <input type="text" name="username" [(ngModel)] ="username"> <br/><br/>
Password : <input type="Password" name="password" [(ngModel)]="password"><br/><br/>

<input type="submit" name="submit">
</form>-->


