.site-footer{
    background-color: #262626;
    color: #b3b3b3;
    text-align: center;
    /*font-size: 14px;*/
    font-size: 1.4rem;
    padding: 53px 56px;
    position: fixed;
    bottom: 0;
    }
.logo{
        max-width: 100%;
    height: auto;
    width: auto;
        margin-top: -9pc;
}

.place{
        margin-top: -1pc;
}
.placer{
    position: sticky;
}